@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-bottom: rgb(233, 233, 233);
    border-style: dashed;
    margin-bottom: 20px;
}

h2 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-bottom: rgb(233, 233, 233);
    margin-bottom: 10px;
}

.dropdown-toggle:after {
    display: none !important;
}

.dropdown-menu {
    font-size: small;
    min-width: auto;
}


.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #FDCC0D;
}

.rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}

.recipe-title,
.product-title {
    height: 2em;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow content */
    text-overflow: ellipsis;
    /* Add ellipsis for long text */
    white-space: nowrap;
    /* Prevent wrapping */
    font-weight: bold;
    font-size: large;
}

.product-title {
    height: 1.5em;
    margin: auto
}

.details-text {
    font-size: small;
}

.error-msg {
    font-size: small;
    color: red;
}

.product-image {
    height: 300px;
    width: 300px;
    margin: auto;

}

.product-detail {
    min-height: 91vh;
    margin: auto;
}

.product-status {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 1px 5px;

}

.product-l,
.product-r {
    padding: 5px;
}

.product-l {
    text-align: right;
}

img {
    height: 250px;
}